<div class="center-div">
  <a href="/"><img src="images/jamesperet-logo-white.png"></a>
  <div class="container-fluid link-list">
    <div class="row-fluid">
      <div class="col-sm-12">
        <a href="http://blog.j1x.co" class="btn btn-link btn-lg">Blog</a> |
        <a href="#now" class="btn btn-link btn-lg"><b style="text-decoration: underline;">Now</b></a> |
        <a href="http://registry.jsonresume.org/jamesperet" class="btn btn-link btn-lg">Resume</a>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 70px;">
    <div class="row-fluid" >
      <div class="col-sm-12 text">
        <p>I'm currently in Abu Dhabi, planning to go to Berlim soon.</p>
        <p>Looking for work as a <b>full stack developer</b> in Dubai, Berlim or remote.</p>
        <p>Working on my <a href="http://blog.j1x.co">blog</a> and <a href="#resume">resume</a>.</p>
      </div>
    </div>
  </div>
</div>


</div>
